// ==============================
// Custom style
// 自定义样式
// ==============================

/* 目录 */
nav#TableOfContents ol {
    padding-inline-start: 30px;

    & ol {
        padding-inline-start: 25px;
        display: none;
    }

    & li.has-active ol {
        display: block;
    }
}

/* 搜索页面 */
.search-container {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

[theme=dark] .search,
.search {
    position: relative;
    background: #2b6098;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

[theme=dark] .search:hover .search-btn,
.search:hover .search-btn {
    background: white;
}

[theme=dark] .search input,
.search input {
    position: relative;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 22px;
    line-height: 40px;
    height: 40px;
    width: 400px;
    transition: .5s;
    padding: 0px 40px 4px 12px;
}

.search .search-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #e74c3c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2b6098;
    transition: .5s;
}

.search .search-btn i {
    padding-top: 12px;
    padding-left: 12px;
    margin-top: 4rem;
}

.search #search-results {
    padding-left: 1rem;
    padding-right: 1rem;
}

[theme=dark] a:active,
[theme=dark] a:hover {
    color: #2d96bd;
}

.search hr {
    margin-left: 1rem;
    margin-right: 1rem;
}